<div class="downloadButton-inner component-inner" id="{{_id}}-downloadButtonContainer">
    {{> component this}}

    <div class="component-widget">
        <a id="{{_id}}-downloadButton" class="download-button button" role="link" href="{{downloadFilePath}}" target="_blank" download="{{downloadFileName}}">
                {{{buttonLabel}}}
        </a>
    </div>
</div>